.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 980;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0; }
  .modal-overlay.animating,
  .modal-overlay.visible {
    display: block;
    transition: opacity 0.3s ease; }
  .modal-overlay.visible {
    opacity: 1; }

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0; }
  .modal-wrapper.animating,
  .modal-wrapper.visible {
    display: block;
    transition: opacity 0.2s ease; }
  .modal-wrapper.animating-in {
    transition-delay: 0.1s; }
  .modal-wrapper.visible {
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1; }

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.launch-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  display: block;
  padding: 20px;
  margin-left: -60px;
  margin-top: -28px;
  color: #aaa;
  text-align: center;
  background: #eee;
  text-decoration: none; }
  .launch-modal:hover {
    background: #e6e6e6; }

#modal-content {
  display: none; }

@media screen and (max-width: 599px) {
  .modal {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    margin: 0 !important; } }

@media screen and (min-width: 600px) {
  .modal {
    width: 560px; } }

@media screen and (min-width: 900px) {
  .modal {
    width: 800px; } }

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px; }
  .modal-content .modal-close {
    position: absolute;
    top: 7px;
    right: 12px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    color: red;
    text-decoration: none; }
